[Unit]
Description=Configures Scanner Wifi Hotspot

[Service]
User=root
WorkingDirectory=/var/app/
ExecStart=/bin/bash -c "sudo nmcli device wifi hotspot ssid 3dscanner password \"scannerp\""
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target