scanner.local {

    @webapp {
        path /scanner/*
    }

    @files {
        not path /scanner/*
    }

    reverse_proxy @webapp :8082

    root * /var/www/html

    file_server @files
    
    header {
        Access-Control-Allow-Origin "http://scanner.local, https://scanner.local"
        Access-Control-Allow-Methods "GET, POST, OPTIONS, HEAD, PATCH, PUT, DELETE"
        Access-Control-Allow-Headers "User-Agent, Content-Type, X-Api-Key"
        Access-Control-Max-Age 86400
    }

}
